[http]
        proxy = https://devproxy.bloomberg.com:82
        sslCAInfo = /home/mrahman1/certs/Bloomberg LP CORP CLASS 1 ROOT CA.cer

[url "git@bbgithub.dev.bloomberg.com:"]
        insteadOf = https://bbgithub.dev.bloomberg.com/

