[user]
        name = Masud Rahman
[core]
        excludesfile = ~/.gitignore
[push]
        default = upstream
[pull]
        rebase = true
[merge]
        ff = only
[rerere]
        enabled = 1
[tag]
        sort = version:refname

